{% extends 'blocks.html' %}
{% block content %}
    <!-- Projects Section -->
    <section id="projects">
        <h1>MySparks Bank</h1> 
        <div class="text-box" id="text-box">
            <p>MySparks Bank is your very own banking system powered by The Sparks Foundation.</p>
            <p>Transfer money to upto 10 people in a click of a button.</p>
        </div>
        <div class="buttons">
            <a href="customers.html"><button class="secondary outline">View all Customers</button></a>
        </div> 
    </section>   
{% endblock%}

     
    